<h4>You've amassed a final amount of $<%=session[:total_amount] %></h4>
<p>Now that you've honed your blackjack skills, there's nothing left to do except go to Vegas.</p>


<a href="/"><div type='btn'>Start over</div></a>