<!DOCTYPE html>
<html>
  <head>
    <title>Benson's Casino</title>
    <!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/application.css">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/vendor/main.js" type="text/javascript"></script>
  </head>
  <body style="padding-top: 50px;">

<!--     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Start over</a></li>
            </ul>
        </div>
      </div>
    </div> -->
  <div id="overlay"></div>
  <div class="container">
      <%= yield %>
  </div>


  </body>
</html>
